.best-seller-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best-seller-title .section-title{
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
.best-seller-title a{
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
}
.best-seller-title .custom-btn::before svg path{
    fill:black !important;
}

/* ==================== Ranking ======================= */
.ranking-header-btn-item{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ranking-btns-item-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.ranking-btns-item-left .custom-btn{
    border-radius: 4px !important;
}
.ranking-btns-item-right .form-select:focus{
    border-radius: 4px !important;
}
.ranking-btns-item-right .form-select{
    padding: 10px 50px 10px 20px;
}
.collection-price{
    display: flex;
    align-items: center;
    gap: 0 5px;
}
.ethereum-logo img{
    width: 20px;
    height: 20px;
}
.red-vat span{
    color: #EF4444;
}

@media screen and (max-width: 550px) {
    .ranking-header-btn-item{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }
    .ranking-btns-item-left {
        flex-direction: column;
        width: 100%;
    }
    .ranking-btns-item-left .custom-btn{
        width: 100%;
    }
    .ranking-btns-item-right{
        width: 100%;
    }
    .ranking-btns-item-right .form-select{
        padding: 10px 50px 10px 20px;
        width: 100%;
    }
    .best-seller-title {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .best-seller-title a {
        gap: 10px;
        align-items: center;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .best-seller-title .section-title {
        align-items: center;
    }
    .card-item {
        padding: 20px;
    }
}