
/* ===================== user-Admin ===================== */
@media screen and (max-width: 1200px) {
    .user-admin-left {
      padding: 50px 30px;
      background: #f4f6f9;
      display: none;
    }
    .user-content {
      width: 100%;
      padding: 50px;
      background: #ffffff;
    }
  }
  @media screen and (max-width: 890px) {
    .user-admin-left {
      padding: 50px 30px;
      background: #f4f6f9;
      display: none;
    }
    .user-content {
      width: 100%;
      padding: 50px;
      background: #ffffff;
    }
    .user-header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px 0;
    }
  }
  @media screen and (max-width: 890px) {
    .user-admin-left {
      padding: 50px 30px;
      background: #f4f6f9;
      display: none;
    }
    .user-content {
      width: 100%;
      padding: 50px;
      background: #ffffff;
    }
    .user-header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px 0;
    }
    .user-content-right-site {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    .user-content-left span {
      font-size: 25px;
      font-weight: 700;
    }
  }
  @media screen and (max-width: 550px) {
    .user-admin-left {
      padding: 50px 30px;
      background: #f4f6f9;
      display: none;
    }
    .user-content {
      width: 100%;
      padding: 30px;
      background: #ffffff;
    }
    .user-header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px 0;
    }
    .user-content-right-site {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    .user-content-left span {
      font-size: 25px;
      font-weight: 700;
    }
  
    .user-setting a {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
    .user-setting a img {
      width: 20px;
    }
    .user-notification a {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
    .user-notification a img {
      width: 20px;
    }
  
    .notification-count {
      position: absolute;
      top: 0;
      right: -14px;
      font-weight: 300;
      height: 15px;
      font-size: 11px;
      width: 20px;
    }
    .user-content-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .user-content-left-site {
      background: #f9f9f9;
      border-radius: 31px;
      padding: 5px 10px;
    }
    button.creator {
      padding: 5px 12px;
      font-size: 12px;
    }
    .user-content-left-site span {
      font-size: 12px;
    }
    .user-featured-creator-title .sec-title-left {
      width: 65%;
    }
    .user-featured-creator-title .sec-title-left h2 {
      font-weight: 700;
      font-size: 20px;
    }
    .user-featured-creator-title .sec-title-left p {
      font-size: 14px;
    }
  
    .user-trading-left h2 {
      font-size: 20px;
    }
    .tops-items img {
      width: 80px;
      height: 80px;
    }
  }